:host{
    
    & > div {
        padding: 20px;

        & > .header{
            & > h1 {
                margin-bottom: 5px;
                letter-spacing: 1px;
            }
            & > h2 {
                letter-spacing: 1px;
            }
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px dashed #999;
        }

        & > button {
            border: 1px solid #eee;
            padding: 10px 20px;
            text-transform: uppercase;

            &:hover{
                background-color: #333;
                border: 1px solid #333;
                color: #eee;
            }

            & + button {
                margin-left: 5px;
            }
        }
    }

}